.companyInstallerDetailsContainer {
    background-color: white;
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
}

.buttonPosition {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}