.containerItemMenu {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
}

.containerItemMenu .textItem {
    font-size: 1vw;
    font-weight: 600;
    color: var(--principal-color);
    margin-left: 10px;
}

.containerItemMenu .icon {
    font-size: 2vw;
    font-weight: 600;
    color: var(--principal-color);

}

.containerItemMenu:hover {
    background-color: var(--principal-color);
    transition: 0.3s;
}

.containerItemMenu:hover .textItem {
    color: white;
}

.containerItemMenu:hover .icon {
    color: white;
}

.collapsed {
   justify-content: center;
   margin: 5px 0px 5px 0px;
}

.itemSideMenuSelected {
    background-color: var(--principal-color);
}

.itemSideMenuSelected .textItem {
    color: white;
}

.itemSideMenuSelected .icon {
    color: white;
}
