.defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Espaciado entre el icono y el texto */
}

.defaultButton:hover {
  background-color: #2e5043e5;
}

.fullWidth {
  width: 100%;

}

/* Background colors */
.bgPrimary {
  background-color: var(--principal-color);
}

.bgSecondary {
  background-color: var(--secondary-color);
}

.bgError {
  background-color: var(--error-color);
}

/* Radius */
.radiusNone {
  border-radius: 0;
}

.radiusSmall {
  border-radius: 8px;
}

.radiusMedium {
  border-radius: 12px;
}

.radiusLarge {
  border-radius: 14px;
}

.radiusFull {
  border-radius: 9999px;
  /* Totalmente redondeado */
}

/* Sizes */
.btnSmall {
  padding: 0.5rem 1.25rem;
}

.btnMedium {
  padding: 0.75rem 1.5rem;
}

.btnLarge {
  padding: 1rem 2rem;
  ;
}

/* Text colors */
.textLight {
  color: var(--principal-text-color);
}

.textDark {
  color: var(--secondary-text-color)
}

/* Variants */
.flatButton {
  border: 0
}

.borderedButton {
  color: var(--principal-color);
  border: 1px solid black;
  background-color: transparent;
}

.borderedButton:hover {
  background-color: var(--principal-color);
  color: var(--principal-text-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinner de carga */
.spinner {
  font-size: 1.2rem;
  animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo cuando está en carga */
.loading {
  opacity: 0.7;
  cursor: not-allowed;
}