.pillContainer {
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    width: fit-content;
}

.principalPill {
    background-color: var(--principal-color);
}

.principalPill span {
    color: white;
}

.secondaryPill {
    background-color: var(--secondary-color);
}

.errorPill {
    background-color: var(--error-color);
}

