@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --principal-color: #2E5043;
    --principal-color-hover: #487A67;
    --secondary-color: #d5d5d5;
    --principal-text-color-hover: #cbcbcb;
    --principal-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --light-mode-background-color: #FFFFFF;
    --dark-mode-background-color: #424242;
    --error-color: #D85555;
    --error-color-hover: #e75c5c;
    --success-color: #55D855;
    --input-text-color: #212121;
    --backgound-principal-color-input: #cbcbcb;
    --button-color-bordered-secondary: #848484;
    --color-label-input: #9d9d9d;
    --color-table-header: #575757;
    --refresh-color-button: #848484;
    --refresh-color-button-hover: #ababab;
}

* {
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
}

input {

}

html, body {
    background-color: #EDEDED;
}