.loginPageContainer {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: var(--principal-color);
    padding: 0px 10% 0px 10%;
}

.buttonPostion {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.buttonContainer {
    padding: 10px 15px 10px 15px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imageContainer img {
    width: 40%;
}

.imageContainer label {
    color: var(--principal-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}