 .containerSideMenu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 15vw;
    background-color: white;
    transition: width 0.3s ease;
    border-radius: 0 10px 10px 0;
}

.containerLogo {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textLogo {
    margin-left: 10px;
    font-size: 1.2vw;
    font-weight: 600;
    color: var(--principal-color);
}

.containerItems {
    margin-top: 10px;
    height: 100%;
}

.collapsed {
    width: 4vw;
}

.toggleButton {
    background: none;
    border: none;
    color: var(--principal-color);
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 2vw;
  }